body {
	#menuDiv{
		height: 20px;
		width: 100%;
	}
	.top-menu{
		list-style: none outside none;
		margin: 0;
		padding: 0;
		 li {
			float: left;
			margin-right: 20px;
			a{
			text-decoration: none;
			color: #000;
			}
		}
	}
}

.hidden {
	display: none;
}
