<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Memo</title>
        <link href="@Url.Content("~/Skins/Styles/styles.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Memo</h1>
        @RenderBody()
    </body>
</html>