@model SuperMemo.Models.CardListViewModel

@{
    ViewBag.Title = "List Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/card.js")"></script>

<input type="hidden" value="navList" id="navID"/>
<div id="cardList">
    <div>
        <h2>Cards (<span data-bind="text: cards.length"></span>)</h2>
        <span style="float: right;">@Html.ActionLink("Add new card", "Create", "Card")</span>
    </div>
    <table id="cardTable" class="table">
        <tbody data-bind="foreach: cards">
            <tr data-bind="attr: { data_id: id}">
                <td style="width: 40%" data-bind="text: word"></td>
                <td style="width: 40%" data-bind="text: translation"></td>
                <td style="width: 20%">
                    <input type="button" value="Update" class="btn btn-default" data-bind="click: $parent.updateCup" />
                    <input type="button" value="Remove" class="btn btn-default" data-bind="click: $parent.removeCup"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>