@model SuperMemo.Models.CardListViewModel

@{
    ViewBag.Title = "List Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/card.js")"></script>

<h2>List of Cards</h2>
<table id="cardList">
@foreach (var card in Model.Cards)
{
    <tr>
        <td>@card.Word</td>
        <td>@card.Translation</td>
        <td><input type="button" id="updateButton" value="Update"/></td>
        <td><input type="button" id="removeButton" value="Remove" data-bind="click: removeCup"/></td>
    </tr>
}
</table>