@model SuperMemo.Models.CardListViewModel

@{
    ViewBag.Title = "List Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/card.js")"></script>

<div id="cardList">
    <h2>List of Cards</h2>
    <table id="cardTable">
        <tbody data-bind="foreach: cards">
            <tr data-bind="attr: { data_id: id}">
                <td data-bind="text: id"></td>
                <td data-bind="text: word"></td>
                <td data-bind="text: translation"></td>
                <td><input type="button" value="Update" data-bind="click: $parent.updateCup" /></td>
                <td><input type="button" value="Remove" data-bind="click: $parent.removeCup"/></td>
            </tr>
        </tbody>
    </table>

    <input type="button" value="Add new card"  data-bind="click: addCup"/>
    
</div>

<script>
    $(function() {
        superMemo.Card.load();
    });
</script>