@{
    ViewBag.Title = "Edit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/drill.js")"></script>

<input type="hidden" value="navTraining" id="navID"/>
<div id="drillPage">
    <div id="mainWrapper" style="margin-top: 20px;text-align: center" data-bind="visible: numberToRepeat">
        <div style="float: right;font-weight: bold;"><span id="numberToRepeat" style="color: green;" data-bind="text: numberToRepeat"></span> (<span style="color: blue;" id="totalCards" data-bind="text: totalWords"></span>)</div><br/>
        <div>
            <span id="wordPlace" data-bind="text: currentWord"></span>
        </div>
        <hr />
        <div>
            <a href="#" id="answerLink">Show answer</a>
            <div id="transPlace" style="display: none;"><span data-bind="text: currentTrans"></span><span> (<a href="#" data-bind="click: editCard">Edit</a>)</span></div>
        </div>
        <div style="margin-top: 30px;">
            <button id="againBtn" class="btn btn-danger">Again</button>
            <button id="badBtn" class="btn btn-info">Hard</button>
            <button id="goodBtn" class="btn btn-info">Medium</button>
            <button id="perfectBtn" class="btn btn-success">Easy</button>
        </div>
    </div>
    <div id="drillEndWrapper" data-bind="visible: numberToRepeat() == 0">
        <h2>Congratulations!</h2>
        No more words!
    </div>
</div>